body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-y: auto;
    font-family: 'Segoe UI', ;
}

.todo-app {
    background-color: rgba(255, 255, 255, 0.8);
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    ;
}

.todo-app ul {
    list-style-type: none;
}

.todo-app li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-app button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 25px;
    font-size: 15px;
}

.todo-app button:hover {
    background-color: #e60000;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}